<div class="container">
<div class="row">
  <% unless @elasticbeanstalk_applications.size == 0 %>
    <h3>Elastic Beanstalk Applications</h3>
    <table class="table">
      <tr>
        <th>#</th>
        <th>environment_name</th>
        <th>environment_id</th>
        <th>application_name</th>
        <th>description</th>
        <th>endpoint_url</th>
        <th>status</th>
      </tr>
      <% @elasticbeanstalk_applications.each.with_index(1) do |entity, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= entity[:environment_name] %></td>
          <td><%= entity[:environment_id] %></td>
          <td><%= entity[:application_name] %></td>
          <td><%= entity[:description] %></td>
          <td><%= entity[:endpoint_url] %></td>
          <td><%= entity[:status] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>No Elastic Beanstalk Applications</h3>
  <% end %>
</div> <!-- .row -->
<div class="row">
  <% unless @elasticbeanstalk_environments.size == 0 %>
    <h3>Elastic Beanstalk Environments</h3>
    <table class="table">
      <tr>
        <th>#</th>
        <th>environment_name</th>
        <th>environment_id</th>
        <th>application_name</th>
        <th>description</th>
        <th>endpoint_url</th>
        <th>status</th>
      </tr>
      <% @elasticbeanstalk_environments.each.with_index(1) do |entity, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= entity[:environment_name] %></td>
          <td><%= entity[:environment_id] %></td>
          <td><%= entity[:application_name] %></td>
          <td><%= entity[:description] %></td>
          <td><%= entity[:endpoint_url] %></td>
          <td><%= entity[:status] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3>No Elastic Beanstalk Environments</h3>
  <% end %>
</div> <!-- .row -->
</div> <!-- .container -->
