<div class="container">
<div class="row">
	<% unless @ec2_entities.size == 0 %>
		<h3>Instances</h3>
		<table class="table">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Status</th>
				<th>DNS Name</th>
				<th>Public IP Address</th>
				<th>Private IP Address</th>
				<th>Instance ID</th>
			</tr>
			<% @ec2_entities.each.with_index(1) do |entity, index| %>
				<%
				if entity[:status] == "running" then
					class_line = "success"
				else
					class_line = ""
				end
				%>
				<tr class="<%= class_line %>">
					<td><%= index %></td>
					<td><%= entity[:name] %></td>
					<td><%= entity[:status] %></td>
					<td><%= entity[:dns_name] %></td>
					<td><%= entity[:public_ip_address] %></td>
					<td><%= entity[:private_ip_address] %></td>
					<td><%= entity[:id] %></td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<h3>No Instances</h3>
	<% end %>
</div> <!-- .row -->
<div class="row">
	<% unless @eip_entities.size == 0 %>
		<h3>Elastic IPs</h3>
		<table class="table">
			<tr>
				<th>#</th>
				<th>Public IP Address</th>
				<th>Instance ID</th>
				<th>Allocation ID</th>
				<th>Association ID</th>
				<th>Domain</th>
			</tr>
			<% @eip_entities.each.with_index(1) do |entity, index| %>
				<% if entity[:instance_id] then %>
			<tr class="success">
				<% else %>
			<tr class="danger">
				<% end %>
				<td><%= index %></td>
				<td><%= entity[:public_ip_address] %></td>
				<td><%= entity[:instance_id] %></td>
				<td><%= entity[:domain] %></td>
				<td><%= entity[:allocation_id] %></td>
				<td><%= entity[:association_id] %></td>
			</tr>
			<% end %>
		</table>
	<% else %>
		<h3>No Elastic IPs</h3>
	<% end %>
</div> <!-- .row -->
<div class="row">
<%= elb_partial %>
</div> <!-- .row -->
</div> <!-- .container -->
